.span3
  .well.sidebar-nav
    %h3 Shortcuts
    %ul.nav.nav-list
      %li.nav-header Sidebar
      %li
        = link_to "Projects", projects_path
      %li
        = link_to "Developers", developers_path
